[submodule "src/pybind11"]
	path = src/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "src/arrow"]
	path = src/arrow
	url = git@github.com:apache/arrow.git
[submodule "src/cpptoml"]
	path = src/cpptoml
	url = git@github.com:skystrife/cpptoml.git
