[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/arrow"]
	path = src/arrow
	url = https://github.com/apache/arrow.git
[submodule "src/cpptoml"]
	path = src/cpptoml
	url = https://github.com/skystrife/cpptoml.git
[submodule "src/text-csv"]
	path = src/text-csv
	url = https://github.com/roman-kashitsyn/text-csv.git
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json.git
	branch = master
[submodule "src/pugixml"]
	path = src/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "src/pcm"]
	path = src/pcm
	url = https://github.com/opcm/pcm.git
